.container{
    background-color: red;
    color: white;
    border: 2px solid black;
    width: 93%;
    height: 50%;
    padding: 10px;
}

h1{
    background-color: tomato;
    color: black;
    text-align: center;
    border: 1px solid white;
}
