.navbar {
  background-color:aliceblue;
  color:blue;
  padding: 10px;
}

.container {
  width: 88vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container ul li {
  display: inline-block;
}

.none {
  display: none;
}

#Dropdown {
  background-color: aliceblue;
  position: absolute;
  width: 110px;
}



